// Nextflow flags
nextflow.enable.configProcessNamesValidation = false
nextflow.enable.moduleBinaries = true

// Unscoped options
cleanup   = false
workDir   = "nf-work"
outputDir = params.outdir

// Global default params, used in configs
params {
    // output parameters
    publish_mode        = 'link'
    outdir              = "results"
    monochrome_logs     = false
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}
// Singularity environment parameters
singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = '/nfs/cellgeni/singularity/images/'
    runOptions  = '-B /lustre,/nfs'
    pullTimeout = '100m'
}

// Configure process parameters
process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) || task.attempt == 1 ? 'retry' : 'ignore' }
    maxRetries    = 3

    withName: "SCANPY_AGGREGATE" {
        queue         = 'normal'
        cpus          = 1
        memory        = { 16.GB + 8.GB * (task.attempt - 1) }
    }

    withName: "ANNDATA_CONCATONDISK" {
        queue         = 'normal'
        cpus          = 1
        memory        = { 32.GB + 32.GB * (task.attempt - 1) }
    }

    withName: "ANNDATA_CONCAT" {
        queue         = 'normal'
        cpus          = 1
        memory = { (h5ad.collect { it.size() }.sum() as MemoryUnit  + 4.GB) * task.attempt }
    }
}

workflow {
    output {
        mode = 'link'
    }
}

// Capturing Nextflow log files into a 'reports' directory
timeline {
    enabled = true
    file    = "reports/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "reports/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "reports/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "reports/pipeline_dag_${params.trace_report_suffix}.html"
}
lineage {
    enabled = true
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Set the output directory for all processes
outputDir = params.outdir